body{
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #00ffff;
	background-color:#ff0066;
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
}

tr {
	border: 1px solid #00ffff;
	text-align: center;
	background-color:#ff0066; 
}

th {
	text-align: center;
	color: #00ffff;
	background-color: #00ffff;
}
