body{
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	background-color:#0000ff;
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
}

tr {
	border: 1px solid #ff3300;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ff3300;
	background-color: #00ff00;
}
